body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8; /* Neutral background color */
    background-image: url('menu.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
}

header {
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.mainWrapper {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #F5FFFA; 
}
h2 {
    font-size: 36px;
    color: #d9534f;; 
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #f0ad4e; /* Orange for button background */
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #ff8c00; /* Darker shade of orange on hover */
}

#home {
    display: block;
    margin: 20px auto;
    background-color: #d9534f; /* Red for button background */
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#home:hover {
    background-color: #c9302c; /* Darker shade of red on hover */
}
